button.btn btn-primary{
    position: absolute;
    top:5px;
    right: 10px;
}
img.logo{
    margin-right: 20px;
}
header{
    margin-top: 5px;
    position: relative;
}
header.div.img{
    margin-right: 10px;
}
nav{
    margin: 20px;
}
article{
    margin-right: 40px;
}
p.justificar{
    text-align: justify;
}
body{
    padding-top: 10px;
}
div.a.button{
    margin-right: 10px;
}